*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 1rem;
  overflow-y: hidden;
}

html{
  font-size: 62.5%;
}

.container{
  max-width: 800rem;
}

.card-input{
  padding: 20%;
  margin-left: 25%;
  font-size: 2rem;
}

.label-input{
  margin-left: 11%;
}

.input-box{
  width: 50%;
  padding: 1rem;
}
.btn-submit{
  margin-left: 15%;
  padding: 1rem;
  width: 20%;
}