* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin-top: 1rem;
	overflow-y: hidden;
}

html {
	font-size: 62.5%;
}

.container {
	max-width: 800rem;
	margin: 0 auto;
}

.p-status {
	font-size: 10rem;
}
.card-input {
	padding: 20%;
	margin-left: 23%;
	font-size: 2rem;
}

.label-input {
	margin-left: 9%;
	width: 7rem;
}

.input-box {
	/* width: 50%; */
	padding: 1rem;
	width: 25rem;
}
.btn-submit {
	margin-left: 15%;
	padding: 2rem;
	background-color: rgb(3, 2, 89);
	overflow: hidden;
	color: darkgrey;
	cursor: pointer;
	width: 10rem;
}
