@media (max-width: 70em) {
	.container {
		max-width: 600rem;
	}
	.input-box {
		max-width: 14rem;
	}
	.btn-submit {
		max-width: 7rem;
		margin-left: 3rem;
	}
	.label-input {
		max-width: 5rem;
		/* margin-left: 6rem; */
		font-size: 1.5rem;
		
	}
}
